
:local(.container) {
  border-color: #007bff;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  margin: 50px;
  padding: 10px;
}

:local(.hdr) {
  text-decoration: underline;
}

:local(.row) {
  font-family: monospace;
}

:local(._id) {
  vertical-align: middle !important;
}

:local(._id:hover) {
  color: #007bff;
  cursor: pointer;
}

:local(.paginationCenter) {
  display: inline-block;
}

:local(.deleteButton) {
  margin-top: -2px;
}

:local(.cell) {
  vertical-align: middle !important;
}
